#loginButton {
    margin-top: 10px;
}

#loginOcto {
    color: white;
    margin-right: 8px
}

#logo {
    height: 80px;
    width: 142px;
}

#userPicture {
    height: 75px;
    width: 80px;
    border-radius: 30%;
    margin: 3px 15px 0px 0px;
}

#search {
    margin-top: 14px;
}

.footer {
    flex: 1
}

#statusData {
    font-size: 10px;
}

.progress {
    margin-top: 5px;
    height: .25rem;
}

.table td,
.table th {
    vertical-align: middle;
}

.table td:last-child>* {
    white-space: nowrap;
}

a {
    color: #3273dc;
}

a:hover {
    color: #276cda;
}