#loginButton {
    margin-top: 10px;
}

#loginOcto {
    color: white;
    margin-right: 8px
}

#logo {
    height: 80px;
    width: 142px;
}

#userPicture {
    height: 75px;
    width: 80px;
    border-radius: 30%;
    margin: 3px 15px 0px 0px;
}

#search {
    margin-top: 14px;
}

i {
    color: black;
}

i:hover {
    color: #72d0eb;
}

.footer {
    flex: 1
}

#statusData {
    font-size: 10px;
}

.progress {
    margin-top: 5px;
    width: 66%;
    height: .25rem;
}

#statusData {}