<div>
    <navbar navbar-data="HomeVM"
            search-data="HomeVM.search"></navbar>



    <!--table-->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>GitHub</th>
                    <th>Repo URL</th>
                    <th>Repo Name</th>
                    <th>GitTidy</th>
                </tr>
            </thead>
            <tr class="list"
                ng-repeat="repo in HomeVM.repoArr | filter: HomeVM.search"
                aria-label="repo">
                <td><a href="{{repo.html_url}}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></td>
                <td>{{repo.html_url}}</td>
                <td>{{repo.name}}</td>
                <td>
                    <button class="button is-info"
                            ng-click="HomeVM.cleanRepo(repo, $index)"
                            ng-class="{'is-loading': repo.status === 'pending',
                                       'is-success': repo.status === 'success',
                                       'is-danger': repo.status === 'fail'}">
                    Start</button>
                </td>
                <td ng-if="HomeVM.fuck === $index">
                    {{HomeVM.clone}}<br>
                    {{HomeVM.branch}}

                </td>
            </tr>


        </table>

    </div>
    <foot></foot> <!--foot component-->
</div>