<div>
    <navbar navbar-data="HomeVM"
            search-data="HomeVM.search"></navbar>



    <!--table-->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>GitHub</th>
                    <th>Repo URL</th>
                    <th>Repo Name</th>
                    <!--<th>Branches</th>-->
                    <th>GitTidy</th>
                </tr>
            </thead>
            <tr class="list"
                ng-repeat="repo in HomeVM.repoArr | filter: HomeVM.search"
                aria-label="repo">
                <td><a href="{{repo.html_url}}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></td>
                <td>{{repo.html_url}}</td>
                <td>{{repo.name}}</td>
                <!--<td>
                    <div class="field">
                        <p class="control">
                            <span class="select">
                                <select>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </td>-->

                <td>
                    <button class="button is-info"
                            ng-click="HomeVM.cleanRepo(repo)"
                            ng-class="{'is-loading': repo.status === 'pending',
                                       'is-success': repo.status === 'success',
                                       'is-danger': repo.status === 'fail'}">
                    Start</button>
                </td>
            </tr>

        </table>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>TidyGit</strong> by <a href="https://github.com/rdotchin">Richard Dotchin</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
                <p>
                    <a class="icon" href="https://github.com/rdotchin">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</div>