<div>
    <navbar navbar-data="HomeVM" search-data="HomeVM.search"></navbar>
    <!--table-->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Repo URL</th>
                    <th>Repo Name</th>
                    <th id="statusRow">Status</th>
                    <th width="1%"></th>
                </tr>
            </thead>
            <tr class="list" ng-repeat="repo in HomeVM.repoArr | filter: HomeVM.search" aria-label="repo">
                <td><a href="{{repo.html_url}}" target="_blank">{{repo.html_url}}</a></td>
                <td>{{repo.name}}</td>
                <td id="statusData">
                    <!--Status updates coming from the server through pusher-->
                    <ul ng-if="HomeVM.index === $index">
                        <li>{{HomeVM.clone}}</li>
                        <li>{{HomeVM.branch}}</li>
                        <li>{{HomeVM.readFiles}}</li>
                        <li>{{HomeVM.writeFiles.js}}</li>
                        <li>{{HomeVM.writeFiles.html}}</li>
                        <li>{{HomeVM.writeFiles.css}}</li>
                        <li>{{HomeVM.gitAdd}}</li>
                        <li>{{HomeVM.gitCommit}}</li>
                        <li>{{HomeVM.gitPush}}</li>
                        <li>{{HomeVM.gitComplete}}</li>
                    </ul>
                    <span ng-if="HomeVM.index !== $index">--</span>
                </td>
                <td>
                    <!--ng-click: starts the clean repo process passes in repo name and index number
                        ng-disabled: disables all the buttons while the app runs
                        ng-class: changes the button to spinning, green/red-->
                    <div>
                        <button class="button is-info" ng-click="HomeVM.cleanRepo(repo, $index)" ng-disabled="HomeVM.buttonsDisabled" ng-class="{'is-loading': HomeVM.index === $index && repo.status === 'pending',
                                       'is-success': HomeVM.index === $index && repo.status === 'success',
                                       'is-danger': HomeVM.index === $index && repo.status === 'fail'}">
                            Start</button>
                        <a class="button is-black" ng-if="HomeVM.index === $index && repo.status === 'success'" href="{{repo.html_url}}/pulls" target="_blank">
                            <i class="fa fa-github-square fa-2x"></i>
                        </a>
                    </div>

                    <progress ng-if="HomeVM.index === $index && repo.status" class="progress {{HomeVM.barColor}}" value="{{HomeVM.statusBar}}" max="100"></progress>
                </td>
            </tr>
        </table>
    </div>

    <foot></foot>
    <!--foot component-->

</div>